
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

      <header>
         <div class="container-fluid orange">
            <div class="row">
               <div class="col-md-6">
                  <ul class="p-3 mb-0">
                     <li class="list-unstyled d-inline-block mr-3"><a href="https://www.facebook.com/" class="text-white"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                     <li class="list-unstyled d-inline-block mr-3"><a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D" class="text-white"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                     <li class="list-unstyled d-inline-block mr-3"><a href="https://www.pinterest.ca/" class="text-white"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                     <li class="list-unstyled d-inline-block mr-3"><a href="https://accounts.google.com/servicelogin/signinchooser?flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="text-white"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                     <li class="list-unstyled d-inline-block mr-3"><a href="https://www.youtube.com/" class="text-white"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                  </ul>
               </div>
               <div class="col-md-6 d-flex justify-content-end">
                  <ul class="p-3 mb-0">
                     <li class="list-unstyled d-inline-block mr-3"><a href="#" class="text-white"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                     <li class="list-unstyled d-inline-block mr-3"><a href="#" class="text-white"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
                     <li class="list-unstyled d-inline-block mr-3"><a href="#" class="text-white"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="container-fluid mt-4 mb-4">
            <div class="row align-items-center">
               <div class="col-md-4">
                  <a href="#" class="orange btn-round text-white pr-5 pl-5 pt-2 pb-2">Help</a>
               </div>
               <div class="col-md-4">
                  <img src="images/logo.png" width="100%" alt="logo">
               </div>
               <div class="col-md-4">
                  <form>
                     <div class="w-50 ml-auto form-group mb-0 position-relative">
                        <input type="email" class="form-control btn-round" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search">
                        <i class="fa fa-search position-absolute" aria-hidden="true"></i>
                     </div>
                  </form>
               </div>
            </div>
         </div>

         <nav class="navbar navbar-expand-lg black pt-0 pb-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item mr-4 active">
                  <a class="nav-link text-white" href="#">Home</span></a>
                </li>
                <li class="nav-item mr-4">
                  <a class="nav-link text-white" href="#">About Us</a>
                </li>
                <li class="nav-item mr-4">
                  <a class="nav-link text-white" href="#">Missions</a>
                </li>
                <li class="nav-item mr-4">
                  <a class="nav-link text-white" href="#">Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="../assets/mission/register.html">Contact Us</a>
                </li>
               </ul>
            </div>
          </nav>
      </header>


<!-- include form -->
<%- include('include/_form') %>
<!-- /include form -->
      

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
