<!-- footer -->

<footer class="footer">
    <div class="container">
       <div class="row">
          <div class="col-md-4 right-border pt-5 pb-5">
             <div class="address">
                <p class="text-white">John Robert Compound Sewri Mumbai,Delhi,400015,India</p>
                <p class="text-white">Phone: 001-1234-88888</p>
                <p class="text-white">Email: example@domain.com</p>
             </div>
          </div>

          <div class="col-md-4 right-border pt-5 pb-5 text-center footer-logo">
             <div class="logo-sec mb-4">
                <img src="images/logo-white.png" alt="btm-logo">
             </div>
             <ul class="p-0">
                <li class="d-inline-block list-unstyled mr-2"><a href="https://www.facebook.com/" class="text-white d-flex align-items-center justify-content-center"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="d-inline-block list-unstyled mr-2"><a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D" class="text-white d-flex align-items-center justify-content-center"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="d-inline-block list-unstyled mr-2"><a href="https://www.instagram.com/" class="text-white d-flex align-items-center justify-content-center"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li class="d-inline-block list-unstyled"><a href="https://www.youtube.com/" class="text-white d-flex align-items-center justify-content-center"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
             </ul>
          </div>

          <div class="col-md-4 pt-5 pb-5">
             <div class="menu d-flex justify-content-end">
                <ul class="p-0">
                   <li class="list-unstyled mb-3"><a href="#" class="text-white">About</a></li>
                   <li class="list-unstyled mb-3"><a href="#" class="text-white">Blogs</a></li>
                   <li class="list-unstyled mb-3"><a href="#" class="text-white">Contact</a></li>
                   <li class="list-unstyled mb-3"><a href="#" class="text-white">FAQs</a></li>
                </ul>
             </div>
          </div>
       </div>

       <div class="row">
          <div class="col-md-12">
             <ul class="pl-0 pt-3 top-border text-center">
                <li class="d-inline-block list-unstyled pr-3 mr-3 right-border "><a href="#" class="text-white">Privacy Policy</a></li>
                <li class="d-inline-block list-unstyled pr-3 mr-3 right-border "><a href="#" class="text-white">Terms & Conditions</a></li>
                <li class="d-inline-block list-unstyled pr-3 mr-3 right-border "><a href="#" class="text-white">Site Map</a></li>
                <li class="d-inline-block list-unstyled"><a href="" class="text-white">Copyright @ 2021</a></li>
             </ul>
          </div>
       </div>
    </div>         
 </footer>

 <script src="js/jquery.slim.min.js"></script>
 <script src="js/popper.min.js"></script>
 <script src="js/bootstrap.bundle.min.js"></script>
 <script src="js/owl.carousel.min.js"></script>
 <script>
    jQuery("#carousel").owlCarousel({
       autoplay: true,
       lazyLoad: true,
       loop: true,
       margin: 20,
       animateOut: 'fadeOut',
       animateIn: 'fadeIn',
       responsiveClass: true,
       autoHeight: true,
       autoplayTimeout: 5000,
       smartSpeed: 800,
       nav: true,
       responsive: {
          0: {
             items: 1
          },

          600: {
             items: 3
          },

          1024: {
             items: 4
          },

          1366: {
             items: 4
          }
       }
    });
 </script>
</body>
</html>